.settings__pomodoro {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.settings__field {
  flex: 1;
}
.settings__title {
  margin-bottom: 12px;
}
.settings__actions {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
.settings__save {
  border-radius: 5px;
  color: whitesmoke;
  background: #0029ffba;
  padding: 1em 2em;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
