.settings__pomodoro {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.settings__field {
  flex: 1;
}
.settings__title {
  margin-bottom: 12px;
}
.settings__actions {
  margin-top: 10px;
  display: flex;
  justify-content: end;
}
