html, body, #root {
  width: 550px;
  height: 500px;
}

body {
  display: flex;
}

#root {
  margin: 8px;
  display: flex;
  flex-direction: column;
}

.app__header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;  
}

.app__actions {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.app__icon {
  background: transparent;
  border: none;
  cursor: pointer;
}
